<style>
    .ww-message-modal h3 {
        margin-bottom: 0px;
        font-weight: bold;
    }
    .ww-message-modal p {
        margin-bottom: 10px;
    }
    .ww-message-modal-container {
        border: 2px solid #17b;
        width: 100%;
        max-width: 500px;
        padding: 0 !important;
        background: #ececec;
        border-radius: 0 0 10px 10px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        position: relative;
    }
    .ww-message-header {
        width: 100%;
        background: #7eb6ff26;
    }
</style>

<div style="position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;
            overflow-y: scroll;
" class="ww-message-modal" data-wwid="message-modal">
    <div style="
        pointer-events: none;
        position: sticky;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.85);
        backdrop-filter: blur(10px);
        margin-bottom: -100vh;
    "></div>

    <div data-wwid="container" class="ww-message-modal-container" onclick="event.stopPropagation()">
        <div class="ww-message-header">
            <div style="padding: {{#if IS_MOBILE_VIEW}}20px 10px{{else}}20px{{/if}} ;">
                <h3>Salut</h3>
            </div>
        </div>
        <div style="padding: {{#if IS_MOBILE_VIEW}}10px{{else}}20px{{/if}} ;">
            <p>Îți dau de veste ca dezvoltator al extensiei, mai ales pentru cei care mă cunosc de pe forumul <b>Nimfomane</b>.</p>
            <p>Recent, moderatorul <b>pisicuts</b> mi-a șters contul <b>arnimf</b>, iar toate recenziile și topicele mele nu mai sunt disponibile. Unele escorte și-au pierdut topicele împreună cu recenziile altor utilizatori.</p>
            <p>Am promovat extensia pe forum, ceea ce a încălcat regulile, inițial primind puncte de penalizare. Am încercat să ajung la un acord, însă am avut o întrebare la care pisicuts nu voia să răspundă, ștergând tichetul de ajutor. Ulterior, când am repus întrebarea pe un topic public, mi-a șters întregul cont. Această măsură a fost, pe nedrept, prea dură.</p>
            <p>Ce este de făcut? Nimic.. Continui să lucrez și să mențin extensia. Voi încerca să revin pe forum când apele se calmează. Până atunci, dacă vrei să mă contactezi, scrie-mi la <b>arnimf49@gmail.com</b></p>
            <button style="margin-left: auto; display: block; min-width: 75px" class="mainbg radius" type="button" data-wwid="close">OK</button>
        </div>
    </div>
</div>
