.panel {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 5px;

  :global(.onMobile) & {
    margin-left: 80px;
    flex-direction: column;
    align-items: initial;
  }
  :global(.onMobile .ipsTopicSnippet) & {
    margin-left: 0
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.whatsapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  border: none;
  background: rgb(216 222 235);
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: rgb(217, 226, 246);
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.hideButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: rgb(216 222 235);
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: rgb(217, 226, 246);
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      stroke: rgb(31 48 80);
      width: 100%;
      height: 100%;
    }
  }
}

.hideReason {
  font-size: 13px;
  color: #666;
  margin-left: 5px;

  b {
    color: #333;
  }

  :global(.onMobile) & {
    font-size: 12px;
    margin-left: 0;
  }
}
