.panel {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 5px;

  :global(.onMobile) & {
    margin-left: 80px
  }
  :global(.onMobile .ipsTopicSnippet) & {
    margin-left: 0
  }
}

.whatsapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  border: none;
  background: #7bcb32;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #6bb129;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.hideButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: #c59b2f;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #b48d28;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.hideReason {
  font-size: 13px;
  color: #666;
  margin-left: 5px;

  b {
    color: #333;
  }
}
