.panel {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 5px;

  :global(.onMobile) & {
    margin-left: 80px;
    flex-direction: column;
    align-items: initial;
  }
  :global(.onMobile .ipsTopicSnippet) & {
    margin-left: 0
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.whatsapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  border: none;
  background: rgb(216 222 235);
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: rgb(217, 226, 246);
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.favButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  svg {
    width: 20px;
    height: 20px;
  }
}

.favButtonOff {
  background: rgb(233 218 224);

  svg {
    stroke: rgb(137 71 97);
  }

  &:hover {
    background: rgb(238, 225, 228);

    svg {
      stroke: rgb(151, 81, 109);
    }
  }
}

.favButtonOn {
  background: rgb(175 97 128);

  svg {
    stroke: none;
    fill: rgb(243, 243, 243);
  }

  &:hover {
    background: rgb(182, 105, 135);

    svg {
      stroke: none;
      fill: rgb(255, 255, 255);
    }
  }
}

.hideButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: rgb(216 222 235);
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: rgb(217, 226, 246);
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      stroke: rgb(31 48 80);
      width: 100%;
      height: 100%;
    }
  }
}

.hideReason {
  font-size: 13px;
  color: #666;
  margin-left: 5px;

  b {
    color: #333;
  }

  :global(.onMobile) & {
    font-size: 12px;
    margin-left: 0;
  }
}
