.phone {
    :global(.dark) & {
        color: #bfbfbf;
    }
}

.whatsapp {
    margin-left: 5px;

    &:hover {
        text-decoration: none;
    }
}

.chip {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    background: #eee;
    padding: 3px;
    border-radius: 5px;
    color: #474747;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 6px;

    b {
        font-size: 13px;
    }

    :global(.dark) & {
        background: #404040;
        color: #c8c8c8;
    }
}

.chipWarn {
    color: rgb(55 55 55);
    background-color: #e5e38e;

    :global(.dark) & {
        background: rgb(87 77 41);
        color: #c8c8c8;
    }
}
