.buttonContainer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 2;

  :global(.onMobile) & {
    left: auto;
    right: 30px;
    transform: none;
    gap: 10px;
  }
}

.actionButton {
  padding: 9px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  touch-action: manipulation;
  background-color: #4a4a4a;
  color: white;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  svg {
    stroke: #FFF;
  }
}

.visibilityButton {
  composes: actionButton;
  background-color: #696969 !important;

  &.isVisible {
    background-color: #c59b2f !important;

    :global(.dark) & {
      background-color: #54471e !important;
      &:hover {
        background-color: #54471e !important;;
        svg {
          stroke: #f6e9bd;
        }
      }
      svg {
        stroke: #f5d04b;
      }
    }
  }
}

.analyzeButton {
  composes: actionButton;

  :global(.dark) & {
    background: rgb(60 84 123);
    &:hover {
      background: rgb(60 84 123);
      svg {
        stroke: #b9d1f8;
      }
    }
    svg {
      stroke: #9fc2fa;
    }
  }
}

.closeButton {
  composes: actionButton;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1000px;
  padding: 11px;

  svg {
    stroke: black;
  }
}

.sliderSection {
  height: 100%;
  width: 100%;
  touch-action: pan-y;

  :global(.swiper-wrapper) {
    height: 100%;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    --swiper-navigation-color: #fff;
    --swiper-navigation-size: 30px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  }

  :global(.swiper-pagination) {
    --swiper-pagination-color: #c59b2f;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    bottom: 8px;
  }
}

.sliderSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slideImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

:global(body.onMobile [data-wwid="images-slider"]) {
  @media screen and (max-width: 640px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
