.globalButton {
  position: fixed !important;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid white;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1;
  bottom: 80px;
  z-index: 2000;

  :global(.onMobile) & {
    bottom: 64px;
    padding: 7px 17px 7px 17px;
  }

  :global(.dark) & {
    border-color: #3c3f41;
    color: #bfbfbf;
  }

  svg {
    display: block;
  }
}

.searchButton {
  composes: globalButton;
  background: #1177bb;
  left: calc(50% - 120px);
  transform: translateX(-50%);

  &:hover {
    background: #0b629b;
  }

  svg {
    stroke: #FFF;
  }

  :global(.onMobile) & {
    left: 10px;
    transform: none;
  }

  :global(.dark) & {
    background-color: rgb(60, 84, 123);
    svg {
      stroke: #8ab4f8;
    }
    &:hover svg {
       stroke: #b9d1f8;
    }
  }
}

.settingsButton {
  composes: globalButton;
  background: #c59b2f;
  left: calc(50% + 120px);
  transform: translateX(-50%);

  &:hover {
    background: #b48d28;
  }

  :global(.onMobile) & {
    left: 76px;
    transform: none;
  }

  :global(.dark) & {
    background-color: rgb(84, 71, 30);
    svg {
      fill: #f5d04b;
    }
    &:hover svg {
      fill: #f6e9bd;
    }
  }
}

.savesButton {
  composes: globalButton;
  background: #b34c4c;
  padding: 13px 12px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 180px;
  position: relative;

  &:hover {
    background: #a24343;
  }

  .savesIcon {
    left: 12px;
    width: 22px;
    height: 22px;
    fill: white;
    vertical-align: middle;
    position: absolute;
  }

  :global(.onMobile) & {
    left: 142px;
    padding: 12px 12px 12px 36px;
    transform: none;
    min-width: auto;

    .savesIcon {
      left: 12px;
    }
  }

  :global(.dark) &{
    background-color: rgb(85, 47, 64);
    color: #da6161;
    .savesIcon {
      fill: #da6161;
    }
    &:hover {
      color: #ef9090;
      .savesIcon {
        fill: #ef9090;
      }
    }
  }
}
