<style>
    .ww-hide-reason {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background: rgba(0, 0, 0, .15);
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    .ww-reason-buttons-container {
        width: 100%;
        max-width: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translate(-50%, 0);
    }

    .ww-reason-buttons-container > span {
        grid-column: span 2;
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
        color: #ffffff;
        background: #797978;
        text-shadow: 1px 1px 2px #00000033;
        border-radius: 10px;
        padding: 5px;
    }

    .ww-reason-buttons-container button {
        width: 70%;
        padding: 10px;
        border: none;
        margin: auto;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        background: #ffffff;
        color: #1e1e1e;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1);
    }

    .ww-reason-buttons-container button:hover {
        background: #faf6f2;
    }

    .ww-reason-buttons-container button[ww-show] {
        background: #c7dceb;
        color: #2d4545;
    }
    .ww-reason-buttons-container button[ww-show]:hover {
        background: #bddff8;
    }

    @media screen and (max-width: 600px) {
        .ww-reason-buttons-container > span {
            font-size: 16px;
        }
        .ww-reason-buttons-container button {
            width: 100%;
        }
    }
</style>

<div class="ww-hide-reason" data-wwid="hide-reason-selection">
    <div class="ww-reason-buttons-container">
        <span>motivul ascunderii?</span>
        <button type="button" ww-reason>scump</button>
        <button type="button" ww-reason>etnie</button>
        <button type="button" ww-reason>țeapă</button>
        <button type="button" ww-reason>înălțime</button>
        <button type="button" ww-reason>comunicare</button>
        <button type="button" ww-reason>formă</button>
        <button type="button" ww-reason>servicii slabe</button>
        <button type="button" ww-reason>poze false</button>
        <button type="button" ww-reason>alta</button>
        {{#if showRevert}}
        <button type="button" ww-show>arată</button>
        {{/if}}
    </div>
</div>
