<style>
    .ww-phone-search-button {
        position: fixed;
        bottom: {{#if IS_MOBILE_VIEW }}205px{{else}}80px{{/if}};
        {{#if IS_MOBILE_VIEW }}
            left: 10px;
            padding: 17px;
        {{else}}
            padding: 9px;
            left: calc(50% - 120px);
            transform: translateX(-50%);
        {{/if}}
        padding-bottom: 6px;
        padding-top: 8px;
        font-weight: bold;
        background: #17b;
        border-radius: 6px;
        border: 1px solid white;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    }
    .ww-phone-search-button:hover {
        background: #0b629b;
    }
</style>

<button class="ww-phone-search-button" title="Caută după număr de telefon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
</button>
