<style>
    .ww-control {
        display: flex;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 10px;
        margin-bottom: 15px;
        background: #f5f5f5;
    }
    .ww-control:hover {
        background: rgba(197, 155, 47, 0.11);
        border-color: #c59b2f;
        cursor: pointer;
    }
    .ww-control-spacer {
        padding-bottom: 10px;
    }
    .ww-control-switch {
        width: 55px;
        align-content: center;
    }
    .ww-control-content {
        flex: 1;
    }
    .ww-switch-container {
        display: block;
        position: relative;
        width: 40px;
        height: 22px;
        border-radius: 9999px;
        background: #b1b0b0;
    }
    .ww-switch-ball {
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 9999px;
        left: 2px;
        background: #ffffff;
    }
    .ww-switch-on.ww-switch-container {
        background: #17b;
    }
    .ww-switch-on .ww-switch-ball {
        right: 2px;
        left: unset;
    }
    .ww-control-content {
        align-content: center;
    }
    .ww-control-content input {
        margin-top: 5px;
    }
    .ww-control-title {
        font-size: 18px;
        font-weight: bold;
    }
    .ww-control-description {
        margin-top: 5px;
    }
    .ww-control-inset {
        border-left: 1px solid rgba(0,0,0,0.1);
        padding-left: 10px;
    }
    .ww-control-hide {
        display: none !important;
    }

    @media screen and (max-width: 640px) {
        .ww-control-title {
            font-size: 16px;
        }
        .ww-control-description {
            font-size: 13px;
        }
    }
</style>

<div class="ww-control" data-wwid="focus-mode-switch">
    <div class="ww-control-switch">
        <div class="ww-switch-container {{#if focusMode}}ww-switch-on{{/if}}">
            <div class="ww-switch-ball"></div>
        </div>
    </div>
    <div class="ww-control-content">
        <div class="ww-control-title">Mod focus</div>
        <div class="ww-control-description">Cănd activat anunțurile ascunse anterior nu se vor mai afișa deloc. Util pentru a vedea numai cea ce ii nou sau încă ne-ascuns.</div>
    </div>
</div>

<div class="ww-control-spacer"></div>

<div class="ww-control" data-wwid="auto-hiding">
    <div class="ww-control-switch">
        <div class="ww-switch-container {{#if autoHide}}ww-switch-on{{/if}}">
            <div class="ww-switch-ball"></div>
        </div>
    </div>
    <div class="ww-control-content">
        <div class="ww-control-title">Ascundere automată</div>
        <div class="ww-control-description">Ascunde automat anunțuri pe bază la varii criterii.</div>
    </div>
</div>

{{#if autoHide}}
<div class="ww-control-inset">
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="maxAge">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if maxAge}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Maximum ani</div>
            <div class="ww-control-description {{#unless maxAge}}ww-control-hide{{/unless}}">
                Dacă specifică ani mai mare decăt cea setată va fii ascuns.
                <input type="number" value="{{maxAgeValue}}" data-wwdefault="40"/>
            </div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="minHeight">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if minHeight}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Minimum înălțime</div>
            <div class="ww-control-description {{#unless minHeight}}ww-control-hide{{/unless}}">
                Dacă specifică înălțime mai mică decăt cea setată va fii ascuns.
                <input type="number" value="{{minHeightValue}}" data-wwdefault="160"/>
            </div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="maxHeight">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if maxHeight}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Maximum înălțime</div>
            <div class="ww-control-description {{#unless maxHeight}}ww-control-hide{{/unless}}">
                Dacă specifică înălțime mai mare decăt cea setată va fii ascuns.
                <input type="number" value="{{maxHeightValue}}" data-wwdefault="175"/>
            </div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="maxWeight">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if maxWeight}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Maximum greutate</div>
            <div class="ww-control-description {{#unless maxWeight}}ww-control-hide{{/unless}}">
                Dacă specifică greutate mare decăt cea setată va fii ascuns.
                <input type="number" value="{{maxWeightValue}}" data-wwdefault="65"/>
            </div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="trans">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if trans}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Transsexual</div>
            <div class="ww-control-description {{#unless trans}}ww-control-hide{{/unless}}">Dacă ii menționat trans atunci va fii ascuns.</div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="botox">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if botox}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Siliconată</div>
            <div class="ww-control-description {{#unless botox}}ww-control-hide{{/unless}}">Dacă zice că are botox / silicoane va fii ascuns.</div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="onlyTrips">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if onlyTrips}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Numai deplasări</div>
            <div class="ww-control-description {{#unless onlyTrips}}ww-control-hide{{/unless}}">Dacă numai deplasări face / fară locație proprie va fii ascuns.</div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="showWeb">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if showWeb}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Show web</div>
            <div class="ww-control-description {{#unless showWeb}}ww-control-hide{{/unless}}">Dacă zice că face show web va fii ascuns. Cei care fac show web tind să fie mai țepari.</div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="total">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if total}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Servicii totale</div>
            <div class="ww-control-description {{#unless total}}ww-control-hide{{/unless}}">Dacă zice că are servicii totale fii ascuns. Cei care zic asta tind să facă și normal neprotejat.</div>
        </div>
    </div>
    <div class="ww-control" data-wwid="auto-hide-criteria" data-wwcriteria="party">
        <div class="ww-control-switch">
            <div class="ww-switch-container {{#if party}}ww-switch-on{{/if}}">
                <div class="ww-switch-ball"></div>
            </div>
        </div>
        <div class="ww-control-content">
            <div class="ww-control-title">Party</div>
            <div class="ww-control-description {{#unless party}}ww-control-hide{{/unless}}">Dacă zice că face party va fii ascuns. Cei care fac party tind să fie mai obosite și mai riscante din multe puncte de vedere.</div>
        </div>
    </div>
</div>
{{/if}}
