.errorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    position: static;
    transform: none;
  }
}

.errorText {
  font-size: 10px;
  color: #c53030;
  font-weight: 500;
}
