.container {
  background: #e5e2e2;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 5px;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  :global(.onMobile) & {
    width: 70px;
    height: 85px;
    margin: 0;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

// Condensed view.
:global(.onMobile .ww_topic_image_registered .ipsDataItem_main), :global(.onMobile .ww_topic_image_registered .ipsDataItem_stats) {
  margin-left: 80px !important;
}
:global(.onMobile .ww_topic_image_registered span:not(:last-child).ipsPagination_page:nth-child(3)),
:global(.onMobile .ww_topic_image_registered span:not(:last-child).ipsPagination_page:nth-child(4)) {
  display: none;
}
:global(.onMobile .ww_topic_image_registered > .ipsDataItem_icon) {
  position: absolute;
  right: 8px;
  top: 65px;
}

// Expanded view.
:global(.ww_topic_image_registered .ipsTopicSnippet__top){
  margin-left: 80px;
  min-height: 85px;
}
:global(.ww_topic_image_registered .ipsTopicSnippet__bottom),
:global(.ww_topic_image_registered .ipsTopicSnippet__snippet) {
  margin-left: 110px;
  :global(.onMobile) & {
    margin-left: initial;
  }
}
:global(.ww_topic_image_registered.ipsTopicSnippet) {
  .container {
    position: absolute;
    margin: 0;

    :global(body:not(.onMobile)) & {
      height: 110px;
    }

    :global(.onMobile) & {
      top: initial;
      transform: none;
    }
  }
}

.clickable {
  cursor: pointer;
}

.image {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loader {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
