.hideAllButton {
  border: none;
  color: black;
  background: #c59b2f;
  padding: 13px 6px;
  border-radius: 3px;
  cursor: pointer;
  line-height: normal;

  b {
    font-weight: bold;
  }
}

input[type="text"].phoneInput {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;

  &:disabled {
    background-color: #f0f0f0;
  }

  :global(.dark) & {
    color: #bfbfbf;
    border-color: #494949;
    background-color: #4d5156;
    ::placeholder {
      color: #bfbfbf;
    }
    &:focus {
      border-color: #52b1fa;
    }
    &:disabled {
      background-color: #434343;
    }
  }
}

.resultsInfo {
  color: rgb(55 55 55);
  font-size: 0.95rem;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 5px 15px;
  width: 100%;

  :global(.dark) & {
    color: #bfbfbf;
  }
}

.resultsCount {
  font-weight: bold;
  margin-right: auto;
  white-space: nowrap;
}

.removedInfo {
  font-style: italic;
  font-size: 0.85rem;
  opacity: 0.8;
  color: #8b5454;
  white-space: nowrap;

  :global(.dark) & {
    color: rgb(207 161 161);
  }
}

.infoText {
  font-style: italic;
  font-size: 0.85rem;
  opacity: 0.8;
}

.contentContainer {
}
