.clearFavoritesButton {
  border: none;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  padding: 13px 6px;
  border-radius: 3px;
  cursor: pointer;
  line-height: normal;

  b {
    font-weight: bold;
  }
}

.toggleButtons {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;

  :global(.dark) & {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }
}

.toggleButton {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  line-height: normal;
  max-width: 180px;
  border-radius: 0;

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  b {
    font-weight: bold;
  }

  .count {
    font-weight: normal;
  }

  &:not(.active) {
    color: black;
    background: rgb(199, 199, 199);
  }

  &.active {
    color: #fff;
    background: rgba(179, 76, 76, 0.9);
    font-weight: bold;
  }

  :global(.dark) & {
    &:not(.active) {
      color: #a4a4a4;
      background: rgba(61, 61, 61, 0.6);
    }

    &.active {
      color: rgb(215, 215, 215);
      background: rgb(101, 44, 62);
    }
  }
}

.favoritesSectionHeader {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
  position: sticky;
  top: 80px;
  display: block;
  z-index: 4;
  padding: 10px 0;
  background: rgba(236, 236, 236, 0.819);
  backdrop-filter: blur(4px);

  :global(.isFirefox) & {
    backdrop-filter: none;
    background: rgba(236, 236, 236, 0.95);
  }

  &::after,
  &::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 10px;
    height: 100%;
    background: inherit;
    backdrop-filter: inherit;
    top: 0;

    :global(.isFirefox) & {
      backdrop-filter: none;
    }
  }
  &::after {
    left: 100%;
  }
  &::before {
    right: 100%;
  }

  .count {
    font-size: 15px;
    vertical-align: middle;
    color: #999;
    font-weight: normal;
  }

  :global(.onMobile) & {
    top: 71px;
    margin-top: 5px;

    .count {
      font-size: 13px;
    }
  }

  :global(.dark) & {
    background: rgba(31, 31, 31, 0.84);
    color: #bfbfbf;

    :global(.isFirefox) & {
      background: rgba(31, 31, 31, 0.95);
    }
  }
}

.emptyMessage {
  padding: 30px 15px;
  text-align: center;
  color: #555;
  font-style: italic;
  :global(.dark) & {
    color: #bfbfbf;
  }
}

.section {
  position: relative;
  padding-bottom: 10px;
}

.noAdsInfoText {
  font-style: italic;
  font-size: 0.85rem;
  opacity: 0.8;
  margin-bottom: 10px;
  color: #555;
  :global(.dark) & {
    color: #bfbfbf;
  }
}

.noAdItem {
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: -2px -2px 6px rgba(154, 168, 192, .2), 2px 5px 11px rgba(154, 168, 192, .2);

  :global(.dark) & {
    background: #28292a;
    border: 1px solid #363636;
    box-shadow: none;
  }
}

.noAdContent {
  color: #444;
  font-size: 13px;
}

.removeNoAdButton {
  border: none;
  border-radius: 1000px;
  padding: 6px;
  line-height: 0;
  position: absolute;
  background: #b34c4c;
  right: 15px;
  top: 15px;
  cursor: pointer;
  display: inline-flex;

  svg {
    stroke: white;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background: #a12a2a;
  }
}
