.header {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 12px 10px;
  background: rgba(75, 75, 75, 0.478);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media screen and (min-width: 1000px) {
    padding-left: 0px;
    padding-right: 20px;
  }
}

.headerTitle {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: #1177bb;
  padding: 4px 15px;
  border-radius: 10px;
  margin: 0;
  flex-shrink: 0;

  svg {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    transform: translateY(-2px);

    @media screen and (max-width: 640px) {
      width: 25px;
      height: 25px;
    }
  }

  :global(.dark) & {
    color: #bfbfbf;
  }

  @media screen and (min-width: 1000px) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 15px;

  :global(.isMobile) & {
    gap: 10px;
  }
}

.closeButton {
  border: none;
  border-radius: 1000px;
  padding: 11px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: inline-flex;

  :global(.dark) & {
    background: #2f2f2f;
  }

  svg {
    stroke: #2f2f2f;
    width: 24px;
    height: 24px;

    :global(.dark) & {
      stroke: rgb(191, 191, 191);
    }
  }
}

.container {
  border: 2px solid #1177bb;
  width: 100%;
  background: #ececec;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  margin-bottom: 150px;
  position: relative;
  box-sizing: border-box;

  :global(.onMobile) & {
    margin-top: 105px;
  }
  :global(.dark) & {
    color: #bfbfbf;
    background: #1f1f1f;
  }
}

.topBorder {
  display: block;
  height: 2px;
  width: 100%;
  position: sticky;
  background: #1177bb;
  top: 80px;
  z-index: 10;
  margin-top: -2px;
}

.contentPadding {
  padding: 20px;

  :global(.onMobile) & {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .topBorder {
    top: 70px;
  }
}

