.container {
  margin: 20px;
}

.image_container {
  position: relative;
  background: rgba(20,20,20,0.95);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    max-height: 80vh;
    min-height: 45vh;
    margin: auto;
    display: block;
  }
}

.image_date {
  padding: 2px 5px;
  color: #b9b9b9;
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  text-align: center;
}

.logo {
  position: sticky;
  width: 60px;
  top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 10;

  :global(.onMobile) & {
    width: 42px;
  }
}

.closeButton {
  border: none;
  border-radius: 1000px;
  padding: 11px;
  line-height: 0 !important;
  background: rgba(20,20,20,0.85);
  cursor: pointer;
  position: sticky;
  top: 20px;
  float: right;
  margin-bottom: 20px;
  z-index: 10;

  svg {
    stroke: #ffffff;
    width: 38px;
    height: 38px;

    :global(.onMobile) & {
      width: 20px;
      height: 20px;
    }
  }
}

.loading {
  margin: 30px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.noImages {
  text-align: center;
  color: white;
  font-size: 20px;
}
