.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10000;
  padding: 30px;
  padding-bottom: 100px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

.scroll {
  padding: 0;
  overflow-y: scroll;
}

