.hr {
  opacity: 0.09;
  margin-top: 10px;
  border: none;
  border-top: 1px solid currentColor
}

.message {
  color: rgb(34, 34, 34);
  font-size: 0.8125rem;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 0;

  :global(.onAdPage #content) & {
    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.buttons {
  :global(.onAdPage #content) & {
    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  :global(body.onMobile) & {
    overflow: hidden;
    > * {
      float: right;
      margin-right: 0 !important;
      &:not(:last-child) {
        margin-left: 5px;
      }
    }
  }
}

.results {
  :global(.onAdPage #content) & {
    margin-bottom: 30px;

    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.linkSafe {
  background-color: #d1e1d1;
}
.linkDead {
  background-color: #d6d8dd;
}
.linkSuspicious {
  background-color: #e5e38e;
}
.linkUnsafe {
  background-color: #efe2e2;
}

.duplicatesContainer {
  color: #9d9103;
  font-size: 0.8125rem;
  margin-top: 6px;
  margin-bottom: 0;

  strong {
    font-weight: bold;
  }

  a {
    cursor: pointer;
  }
}

.button {
  vertical-align: middle;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 5px;
  transition: background 0.2s ease 0s;

  svg {
    display: block;
  }
}

.visibilityButtonVisible {
  background: #c59b2f;
  &:hover {
    background: #b48d28;
  }
}

.visibilityButtonInvisible {
  background: #696969;
  &:hover {
    background: #595858;
  }
}

.favButtonOn {
  background: #b34c4c;
  &:hover {
    background: #a24343;
  }
}

.favButtonOff {
  background: #e0dada;
  &:hover {
    background: #d3cccc;
  }
}

.investigateButton {
  // Inherits .mainBgRadius
}

.investigateImgButton {
  // Inherits .mainBgRadius
}

.forumLink {
  background: #435b86;
  transition: background 0.5s ease 0s;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 42px;
  height: 42px;
  margin-right: 5px;

  &:hover {
    background: #3a5077;
  }

  svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  &.ddcLink {
    background: #e0dada;
    &:hover {
      background: #d3cccc;
    }
  }
}

.resultsHeader {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 1.125rem;
}

.investigationStatus {
  font-size: 0.825rem;
}

.stale {
  color: #8b5454;
}

.fresh {
  color: #69875c;
}

.noResults {
  font-size: 0.8125rem;
}

.noResultsYet {
  color: #8b5454;
}

.noResultsFound {
  color: #69875c;
}

.searchResultLinkContainer {
  font-size: 0.8125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: #660099;
    }
  }
}

.imageResultsContainer {
  font-size: 0.8125rem;
}

.imagesWarning {
  color: #8b5454;
  font-size: .8125rem;
  margin-bottom: 5px;
}

.imageResultLink {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  margin-bottom: 6px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(55 55 55);

  &:hover {
    color: rgb(40 40 40);
  }

  .indexIndicator {
    font-size: .6rem;
  }
}

.loader {
  margin-top: 15px;
}
