.hr {
  opacity: 0.09;
  margin-top: 10px;
  border: none;
  border-top: 1px solid currentColor
}

.message {
  color: rgb(34, 34, 34);
  font-size: 0.8125rem;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 0;

  :global(.dark) & {
    color: #bfbfbf;
  }

  :global(.onAdPage #content) & {
    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.buttons {
  :global(.onAdPage #content) & {
    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  :global(body.onMobile) & {
    overflow: hidden;

    > * {
      float: right;
      margin-right: 0 !important;

      &:not(:last-child) {
        margin-left: 5px;
      }
    }
  }
}

.results {
  :global(.onAdPage #content) & {
    margin-bottom: 30px;

    @media screen and (max-width: 640px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  :global(.onAdPage.onMobile #content) & {
    padding-bottom: 30px;
  }
}

.linkSafe {
  background-color: #d1e1d1;

  :global(.dark) & {
    background: rgb(58 75 51);
    color: #89d789;

    :hover & {
      color: #89d789;
    }
  }
}

.linkDead {
  background-color: #d6d8dd;

  :global(.dark) & {
    background: #4d4d4d;

    :hover & {
      color: #efefef;
    }
  }
}

.linkSuspicious {
  background-color: #e5e38e;

  :global(.dark) & {
    background: #54471e;
    color: #f5d04b;

    :hover & {
      color: #f5d04b;
    }
  }
}

.linkUnsafe {
  background-color: #efe2e2;

  :global(.dark) & {
    background: rgb(73 40 43);
    color: #e18a8a;

    :hover & {
      color: #e18a8a;
    }
  }
}

.duplicatesButton {
  background: rgb(175 141 185 / 17%);
  color: rgb(149 87 167);
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 3px 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 8px;
  vertical-align: middle;
  margin-bottom: 4px;
  height: 24px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease 0s;

  * {
    vertical-align: baseline;
  }

  [data-wwid="duplicates-count"] {
    font-weight: bold;
    vertical-align: baseline;
    line-height: inherit;
  }

  &:hover {
    background: rgb(175 141 185 / 25%);
    color: rgb(149 87 167);
  }

  :global(.dark) & {
    background: rgb(175 141 185 / 25%);
    color: rgb(193 148 203);

    &:hover {
      background: rgb(175 141 185 / 35%);
      color: rgb(193 148 203);
    }
  }

  &.highCount {
    background: #efe2e2;
    color: #b34c4c;

    &:hover {
      background: #ecd4d4;
      color: #a24343;
    }

    :global(.dark) & {
      background: rgb(73 40 43);
      color: #e18a8a;

      &:hover {
        background: rgb(83 50 53);
        color: #e57373;
      }
    }
  }
}

.button {
  vertical-align: middle;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 5px;
  transition: background 0.2s ease 0s;

  :global(.dark) & {
    background: rgb(60 84 123);

    &:hover {
      background: rgb(60 84 123);

      svg {
        stroke: #c7d9f6;
      }
    }

    svg {
      stroke: #9fc2fa;
    }
  }

  svg {
    display: block;
  }
}

.visibilityButtonVisible {
  background: #c59b2f;

  &:hover {
    background: #b48d28;
  }

  :global(.dark) & {
    background: #54471e;

    &:hover {
      background: #54471e;

      svg {
        stroke: #f6e9bd;
      }
    }

    svg {
      stroke: #f5d04b;
    }
  }
}

.visibilityButtonInvisible {
  background: #696969;

  &:hover {
    background: #595858;
  }
}

.favButtonOn {
  background: #b34c4c;

  &:hover {
    background: #a24343;
  }

  :global(.dark) & {
    background: rgb(85 47 64);

    &:hover {
      background: rgb(85 47 64);

      svg {
        fill: #f6a5a5;
        stroke: #f6a5a5;
      }
    }

    svg {
      fill: #e57373;
      stroke: #e57373;
    }
  }
}

.favButtonOff {
  background: #e0dada;

  &:hover {
    background: #d3cccc;
  }

  :global(.dark) & {
    background: #575656;

    &:hover {
      background: #575656;

      svg {
        stroke: #eaeaea;
      }
    }

    svg {
      stroke: #bfbfbf;
    }
  }
}

.investigateButton {
  // Inherits .mainBgRadius
}

.investigateImgButton {
  // Inherits .mainBgRadius
}

.forumLink {
  background: #435b86;
  transition: background 0.5s ease 0s;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  width: 42px;
  height: 42px;
  margin-right: 5px;

  &:hover {
    background: #3a5077;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }

  &.ddcLink {
    background: #e0dada;

    &:hover {
      background: #d3cccc;
    }

    :global(.dark) & {
      background: #6c6b6b;

      &:hover {
        background: #807f7f;
      }
    }
  }

  :global(.dark) & {
    background: rgb(38 62 105);

    &:hover {
      background: rgb(43, 71, 121);
    }
  }
}

.resultsHeader {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 640px) {
    gap: 6px;
  }

  :global(.dark) & {
    color: #bfbfbf;
  }
}

.resultsTitleText {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  svg {
    vertical-align: middle;
  }
}

@keyframes searchCompleteStripesMove {
  0% {
    background-position: 0 0;
    transform: scale(1.07);
    margin-right: 7px;
  }
  95% {
    transform: scale(1.07);
    background-position: 90% 0;
    margin-right: 7px;
  }
  100% {
    transform: scale(1);
    background-position: 100% 0;
    margin-right: 0;
  }
}

@keyframes svgStrokePulse {
  0%, 30%, 60%, 100% {
    stroke: currentColor;
  }
  15%, 45%, 85% {
    stroke: rgb(149 87 167);
  }
}

@keyframes svgStrokePulseDark {
  0%, 30%, 60%, 100% {
    stroke: currentColor;
  }
  15%, 45%, 85% {
    stroke: rgb(239, 174, 255);
  }
}

.resultsTitleText.searchComplete {
  transform-origin: 0 50%;
  background-image: repeating-linear-gradient(
    30deg,
    #000 0px,
                  rgb(149 87 167) 25px,
                  rgb(149 87 167) 45px,
    #000 70px,
                  rgb(149 87 167) 95px,
    #000 130px,
                  rgb(149 87 167) 150px,
    #000 160px,
    #222 300px
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: searchCompleteStripesMove 4s linear forwards;

  :global(.dark) & {
    background-image: repeating-linear-gradient(
      30deg,
      #ffffff 0px,
      rgb(239, 174, 255) 25px,
      rgb(239, 174, 255) 45px,
      #fff 70px,
      rgb(239, 174, 255) 95px,
      #fff 130px,
      rgb(239, 174, 255) 150px,
      #eee 160px,
      #bfbfbf 300px
    );
  }

  svg {
    animation: svgStrokePulse 4s ease-in-out;
  }

  :global(.dark) & svg {
    animation: svgStrokePulseDark 4s ease-in-out;
  }
}

.statusCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.statusGreen {
  background-color: #69875c;

  :global(.dark) & {
    background-color: #89d789;
  }
}

.statusYellow {
  background-color: #c59b2f;

  :global(.dark) & {
    background-color: rgb(191 183 92);
  }
}

.statusRed {
  background-color: #b34c4c;

  :global(.dark) & {
    background-color: #d67373;
  }
}

.investigationStatus {
  font-size: 0.825rem;

  @media screen and (max-width: 640px) {
    font-size: 0.7rem;
  }
}

.stale {
  color: #9d9103;
  font-weight: bold;

  :global(.dark) & {
    color: rgb(191 183 92);
  }
}

.fresh {
  opacity: 0.7;
}

.noResults {
  font-size: 0.8125rem;
}

.noResultsYet {
  color: #8b5454;

  :global(.dark) & {
    color: rgb(207 161 161);
  }
}

.noResultsFound {
  color: #69875c;

  :global(.dark) & {
    color: rgb(138 181 120);
  }
}

.missingResults {
  color: #9d9103;

  :global(.dark) & {
    color: rgb(191 183 92);
  }
}

.searchResultLinkContainer {
  font-size: 0.8125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited, &:active {
      color: #8b4db8;
    }

    :global(.dark) & {
      &:visited, &:active {
        color: #b888d9;
      }
    }
  }
}

.imageResultsContainer {
  font-size: 0.8125rem;
}

.imagesWarning {
  color: #8b5454;
  font-size: .8125rem;
  margin-bottom: 5px;

  :global(.dark) & {
    color: rgb(207 161 161);
  }
}

.imageResultLink {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  margin-bottom: 6px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(55 55 55);

  &:hover {
    color: rgb(40 40 40);
  }

  .indexIndicator {
    font-size: .6rem;
  }
}

.loader {
  margin-top: 15px;
}
